:root{
    --background:#000000;
    --white:#ffffff;
    --text-gradient-bg:rgb(2,0,36);
    --text-gradient-1: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
    --btn-bg:#2f80ed;
    /* --bg-blob:rgba(143,0,255,0.35); */
    --bg-blob:#79b3f4;
    --card-broder:#282525;

}